<div class="select__container">

    <!-- Control seleccionar elementos -->
    <ng-select [source]="rutasSource"
               [accentInsensitive]="true"
               [isMultiselect]="isMultiselect"
               [toggleButtonText]="'Rutas'"
               [maxItemsVisible]="maxItemsVisible"
               (selectedItemsChanged)="changes($event)"
               (selectedItemChanged)="changeItem($event)">
    </ng-select>

    <button (click)="toggleMultiselect()">Toggle Multiselect</button>

    <!-- Actualizar data source -->
    <button (click)="resetSource()">Actualizar origen de datos</button>

    <button (click)="setMaxItems()">Máximo de registros visibles a 5</button>
</div>