<div #container
     class="ng-select"
     [class.ng-select--disabled]="disabled">

    <!-- Botón toggle -->
    <div class="ng-select__toggle-button"
         [ngClass]="toggleButtonClasses"
         (click)="toggleButtonClick()">
        <span class="ng-select__toggle-button-value">{{selectedItemsKeys}}</span>
        <span class="ng-select__toggle-button-caret"></span>
    </div>

    <!-- Elementos -->
    <ul #dropdown
        class="ng-select__dropdown ng-select__dropdown--raised">

        <!-- Elemento: Seleccionar todo -->
        <li *ngIf="isMultiselect"
            class="ng-select__item ng-select__item--bordered ng-select__item--accent"
            (click)="selectUnselectAll()">
            <i *ngIf="itemSelectAll.selected"
               class="material-icons ng-select__icon">check_box</i>
            <i *ngIf="!itemSelectAll.selected"
               class="material-icons ng-select__icon">check_box_outline_blank</i>
            <div class="ng-select__item-values">
                {{itemSelectAll.value}}
            </div>
        </li>

        <!-- Campo búsqueda -->
        <form [formGroup]="selectForm">
            <li class="ng-select__item ng-select__item--bordered ng-select__item--accent">
                <i class="material-icons ng-select__icon">search</i>
                <input #input
                       type="text"
                       class="ng-select__search"
                       [placeholder]="inputSearchPlaceHolder"
                       (keyup)="inputKeyup($event)"
                       formControlName="term">
                <i [style.display]="term?'inherit':'none'"
                   class="material-icons ng-select__icon ng-select__icon--close"
                   (click)="clearTerm()">close</i>
            </li>
        </form>

        <!-- Elementos -->
        <div #dropdownItems
             class="ng-select__items">

            <!-- No existen registros -->
            <li *ngIf="!filteredItems.length"
                class="ng-select__item ng-select__item--no-rows">
                {{noRowsText}}
            </li>

            <!-- Multiselect: Registros filtrados -->
            <ng-container *ngIf="isMultiselect">
                <li *ngFor="let item of filteredItems"
                    class="ng-select__item"
                    [class.ng-select__item--hovered]="item===hoveredItem"
                    (click)="selectItem(item, $event)">
                    <!-- Elemento seleccionado -->
                    <i *ngIf="item.selected"
                       class="material-icons ng-select__icon">check_box</i>
                    <!-- Elemento NO seleccionado -->
                    <i *ngIf="!item.selected"
                       class="material-icons ng-select__icon">check_box_outline_blank</i>
                    <!-- Texto -->
                    <div class="ng-select__item-values">
                        <span class="ng-select__item-value"
                              [title]="item.value">
                            {{item.value}}
                        </span>
                        <span *ngIf="item.valueSecondary"
                              class="ng-select__item-value ng-select__item-value--secondary"
                              [title]="item.valueSecondary">
                            {{item.valueSecondary}}
                        </span>
                    </div>
                </li>
            </ng-container>

            <!-- Select: Registros filtrados -->
            <ng-container *ngIf="!isMultiselect">

                <li *ngFor="let item of filteredItems"
                    class="ng-select__item"
                    [class.ng-select__item--hovered]="item===hoveredItem && item!==selectedItem"
                    [class.ng-select__item--selected]="item===selectedItem"
                    (click)="selectItem(item, $event)">

                    <!-- Texto -->
                    <div class="ng-select__item-values">
                        <span class="ng-select__item-value"
                              [title]="item.value">
                            {{item.value}}
                        </span>
                        <span *ngIf="item.valueSecondary"
                              class="ng-select__item-value ng-select__item-value--secondary"
                              [title]="item.valueSecondary">
                            {{item.valueSecondary}}
                        </span>
                    </div>
                </li>

            </ng-container>

        </div>

    </ul>
</div>