.ng-select{
    color:#59595A;
    position: relative;
}
.ng-select__input{
    padding-right: 30px;
    font-size: 14px;
    width: 100%;
}

.ng-select__input-container{
    position: relative;
    margin-bottom: 0;
}

.ng-select__toggle-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 2px;
    cursor: pointer;
}

.ng-select__toggle-button-caret{
    width: 0;
    height: 0;
    border-top: 4px solid;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.ng-select__dropdown {
    position: absolute;
    display: none;
    background-color: #FFFFFF;
    width: 100%;
    min-width: 240px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-left: #CCCCCC;
    border-right: #CCCCCC;
    text-align: left;
    font-weight: 500;
    animation: slideDown .1s;
    cursor: default;
}

.ng-select__dropdown-container {
    display: flex;
    flex-direction: column;
}

.ng-select__dropdown--raised {
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.ng-select__items {
    overflow-y: auto;
}

.ng-select__item{
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 48px;
    font-size: 15px;
    overflow: hidden;
}

.ng-select__item--bordered{
    border-bottom: 1px solid #CCC;
}

.ng-select__item--accent{
    background-color: rgba(0,0,0,0.025);
    color: rgba(0,0,0,0.8);
}

.ng-select__item--selected {
    background-color: #338FFF;
    font-weight: 700;
}

.ng-select__item-values{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.ng-select__item-value{

}
.ng-select__item-value--secondary{
    font-size: 0.8em;
    color: rgba(0,0,0,0.5);
}

.ng-select__item:hover{
    background-color: rgba(0, 0, 0, .12);
}

.ng-select__icon{
    font-size: 22px;
}

.ng-select__search{
    width: 100%;
    padding-left: 10px;
    padding-right: 3px;
    border: none;
    background-color: transparent;
    outline-style: none;
    color: inherit;
}

/*
Animación al visualizar el dropdown.
*/
@keyframes slideDown {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}