.ng-select {
    color: #59595A;
    position: relative;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
}

.ng-select--disabled {
    pointer-events: none;
    background-color: rgb(235, 235, 228);
}

.ng-select__toggle-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 2px;
    cursor: pointer;
}

.ng-select__toggle-button-value {
    overflow: hidden;
    text-overflow: ellipsis;
}

.ng-select__toggle-button-caret {
    width: 0;
    height: 0;
    border-top: 4px solid;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin-left: 11px;
    margin-right: 6px;
}

.ng-select__dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 100%;
    min-width: 240px;
    max-height: 360px;
    list-style-type: none;
    margin-top: 2px;
    padding: 0;
    text-align: left;
    font-weight: 500;
    border: 1px solid #CCCCCC;
    animation: slideDown .1s;
    cursor: default;
    z-index: 1000;
}

.ng-select__dropdown-container {
    display: flex;
    flex-direction: column;
}

.ng-select__dropdown--raised {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.ng-select__items {
    overflow-y: auto;
}

.ng-select__item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 10px;
    height: 44px;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
}

.ng-select__item--selected {
    background-color: #338FFF;
    font-weight: 700;
    color: white;
}

.ng-select__item--bordered {
    border-bottom: 1px solid #CCCCCC;
}

.ng-select__item--accent {
    background-color: rgba(0, 0, 0, 0.04);
}

.ng-select__item--no-rows {
    justify-content: center;
}

.ng-select__item-values {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    padding-right: 23px;
}

.ng-select__item-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ng-select__item-value--secondary {
    font-size: 0.8em;
    opacity: 0.6;
}

.ng-select__item:hover:not(.ng-select__item--no-rows):not(.ng-select__item--selected) {
    background-color: rgba(0, 0, 0, .12);
}

.ng-select__icon {
    font-size: 22px;
    pointer-events: none;
}

.ng-select__icon--close {
    cursor: pointer;
    pointer-events: initial;
    opacity: 0.8;
}

.ng-select__search {
    width: 100%;
    padding: 10px 3px 10px 10px;
    border: none;
    background-color: transparent;
    outline-style: none;
    color: inherit;
    font-size: inherit;
    font-weight: 400;
}


/*
Animación al visualizar el dropdown.
*/

@keyframes slideDown {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}